<div class="col-md-12">
  <h2 class="page-header">That the magic begins! Show me the numbers!</h2>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <button type="button" name="cnpj" id="cnpj" class="btn btn-primary btn-block">CNPJ</button>
    </div>
    <div class="col-md-4 well-sm">
      <div id="new_cnpj">
        <p>Clique no botão do lado</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <button type="button" name="cpf" id="cpf" class="btn btn-primary btn-block">CPF</button>
    </div>
    <div class="col-md-4 well-sm">
      <div id="new_cpf">
        <p>Clique no botão ao lado</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <%= link_to "Error", error_page_controller_path, class: 'btn btn-primary' %>
    </div>
    <div class="col-md-4 well-sm">
      <div id="new_cpf">
        <p>Clique no botão ao lado</p>
      </div>
    </div>
  </div>

</div>
