<h1 class="page-header">Lets get started!</h1>

<hr>
<br>

<div class="row">
  <button type="button" name="cnpj" id="cnpj">CNPJ</button>
  <div id="new_cnpj">
    <p>Clique no botão acima</p>
  </div>
</div>

<div class="row">
  <button type="button" name="cpf" id="cpf">CPF</button>
  <div id="new_cpf">
    <p>Clique no botão acima</p>
  </div>
</div>

<!-- <script type="text/javascript">
  cnpj();
</script> -->
