<!DOCTYPE html>
<html>
<head>
  <title>Opss... </title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/simplex/bootstrap.min.css" rel="stylesheet" integrity="sha384-C0X5qw1DlkeV0RDunhmi4cUBUkPDTvUqzElcNWm1NI2T4k8tKMZ+wRPQOhZfSJ9N" crossorigin="anonymous">


  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <style media="screen">
    #header-jumbotron {
      background-image: url(https://s3-sa-east-1.amazonaws.com/medcapital/images/apps/mepcap/home_page_center.png);
      }

      .btn-mc-primary {
        background: #086bac !important;
        color: #fbfcff !important;
      }

      a {
        color: #fbfcff !important;
      }

      h1, h4 {
        color: #50514F !important;
      }

      body {
          padding-top: 80px;
        }

        html, body {
          height: 100%;
          margin: 0;
        }
        .page-wrap {
          min-height: 100%;
        }
        .page-wrap {
          padding: 20px;
          padding-bottom: 50px;
        }


      .jumbotron{
          position: relative;
          background-position:center;
          background-size: 100% auto;
          background-repeat: no-repeat;
          width: 100vw;
          height: 50vh;
        }
      .nav-tabs {
        border: none;
      }
      .logo-better-control {
        padding: 2px !important;
        margin-right: 14px;
        color: #fbfcff;
        margin-top: 4px;
      }
      .navbar-inverse {
        background-color: #086bac;
        height: 72px;
        border-color: #fbfcff;
        background-image: none !important;
      }
      .navbar-link {
        font-size: 120%;
        font-weight: bolder;
        margin-top: 15px;
        padding: 10px !important;
        color: #fbfcff !important;
        margin-right: 15px;
      }

      .navbar-link:hover {
        font-size: 120%;
        font-weight: bolder;
        margin-top: 15px;
        padding: 10px !important;
        color: #086bac !important;
        background-color: #fbfcff !important;
        border-radius: 2px;
        margin-right: 15px;
      }

      .navbar {
        margin-bottom: 0px !important;
      }



  </style>


</head>

<body class="rails-default-error-page">
  <!-- This file lives in public/404.html -->






  <div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="https://s3-sa-east-1.amazonaws.com/medcapital/images/logo/logo_bc_site_64x64_w.png" alt="medcapital" class="logo-better-control">
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
              <li>
                <a href="https://app.medcap.me" class="navbar-link">Dashboard</a>
              </li>
          </ul>

        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-sm-12">
        <div class="jumbotron img-responsive" id="header-jumbotron">
          <div class="col-sm-6 col-sm-offset-3">
            <br>
            <h1>Opss...</h1>
            <h4>Parece que a página não existe</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3">

      <div class="col-sm-4 col-sm-offset-4">
        <button type="button" name="button" class="btn btn-mc-primary btn-lg">
          <i class="fa fa-refresh fa-4x" aria-hidden="true"></i>
          <a href="https://app.medcap.me"><small>Atualizar a página</small</a>
        </button>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <footer class="footer">
        <hr>
        <div class="col-sm-4 col-sm-offset-4 footer-mc">
          <ul class="nav nav-tabs">
            <li id="listing">
              <img src="https://s3-sa-east-1.amazonaws.com/medcapital/images/logo/logo_bc_site_40x40_b.png" alt="medcapital" class="logo-footer">
            </li>
            <li>white</li>
            <li>
              <h6 class="text-center">&copy; 2016-2017 Grupo MedCapital</h6>
            </li>
          </ul>

        </div>
      </footer>
    </div>
  </div>
</body>
</html>
